body{
    margin: 5%;
}
h2, h1{
    text-align: center;
}
/*resize card*/
.card{
    margin: 5%;
    width: 75%;
    height: auto;
}
/*resize card img*/
.card-img-top{
    width: 100%;
    height: auto;
}

/*size/style grid*/
.gridContainer{
    margin: 5%;
    width: 90%;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:minmax(50px, auto);
}

#profile{
    width: 20%;
    height: auto;
}

#details{
    margin: 0 30% 0 25%;
    width: 50%;
    height: auto;
}

body{
    background: #e0e0e0;
}