{% extends 'recipe_app/base.html' %}

{% block content %}

{% if recipes %}
<div gridContainer>
    {% for eachRecipe in recipes %}

        <div class="card">
            <img class="card-img-top" src="{{ eachRecipe.image }}" alt="recipe card">
            <div class="card-body">
                <a class="card-title" href="{% url 'recipe_details' eachRecipe.id %}">{{ eachRecipe.name }}</a>
                <p class="card-text" >{{ eachRecipe.description }}<br>{{ eachRecipe.date_create }}<br>{{ eachRecipe.creator }}</p>
                <a href="{% url 'edit_recipe' eachRecipe.id %}">Edit</a>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>There are no recipes</p>
{% endif %}

{% endblock %}