{% extends 'recipe_app/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<div gridContainer>
    {% if my_recipes %}
        {% for eachRecipe in my_recipes %}
            <div class="card">
                <img class="card-img-top" src="{{ eachRecipe.image }}" alt="recipe card">
                <div class="card-body">
                    <a class="card-title" href="{% url 'recipe_details' eachRecipe.id %}">{{ eachRecipe.name }}</a>
                    <p class="card-text" >{{ eachRecipe.description }}<br>{{ eachRecipe.date_create }}<br>{{ eachRecipe.creator }}</p>
                    <a href="{% url 'edit_recipe' eachRecipe.id %}">Edit</a>
                </div>
            </div>
        {% endfor %}
</div>
    {% else %}
        <p>You have no recipes</p>
    {% endif %}
<a href="{% url 'logout' %}">Log Out</a>

{% else %}

<a href="{% url 'login' %}">Login</a>
<a href="{% url 'new_user' %}">Create a New User</a>

{% endif %}

{% endblock %}